$bg-color: rgb(35, 35, 35);
$title-font: "Righteous", cursive;
$title-gradient: linear-gradient(
  45deg,
  rgb(226, 146, 42),
  rgb(133, 6, 133),
  rgb(36, 149, 241)
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $bg-color;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 40px 0;
  h1 {
    max-width: 240px;
    padding: 0.5rem;
    font: 4.8rem $title-font;
    color: purple;
    background: purple $title-gradient 100% repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transform: rotate(-5deg);
    line-height: 2.8rem;
  }
}
